body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-all {
    align-items: center;
}

.section-1 img {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    border: #ffff solid 4px;
    margin-left: 460px;
    margin-top: 10px;
}

.section-2 h2 {
    margin-left: 200px;
    text-transform: uppercase;
    color: #ffff;
    font-size: 5vh;
}

.section-2 p {
    margin-left: 200px;
    color: #ffff;
    font-size: 4vh;
}

.section-3 {
    margin-left: 200px;
}

.section-3 a {
    color: blue;
    text-decoration: none;
}

@media (max-width: 500px) {
    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    .section-1 img {
        width: 170px;
        height: 170px;
        border-radius: 100px;
        margin-left: 25px;
    }

    .section-2 h2 {
        margin-left: 25px;
        font-size: 19px;
        text-align: left !important;
    }

    .section-2 p {
        margin-left: 25px;
        font-size: 21px;
        text-align: left !important;
        margin-top: 40px;
    }

    .section-3 {
        margin-left: 25px !important;
        font-size: 20px;
        text-align: left !important;
        margin-top: 18px;
    }
}